$cta-font-size: 0.7308em;
$section-heading-size: 0.7692em;
$section-copy-size: 1em;
$up2-section-heading-size: 1.423em;
$up2-section-heading-light-size: 1.538em;
$up2-section-cta-text-size: 0.6154em;
$up2-section-content-text-size: 0.5385em;
$transition-headline-size: 1.808em;
$transition-headline-m-size: 1.154em;
$qualities-section-text-size: 0.8462em;
$font-section-size-18: 0.6923em;
$marquee-title-size: 2.462em;
$marquee-title-2-size: 2.692em;
$base-color: #2D3137;
$base-color-black: #000000;
$base-sfly-color: #F05323;
$base-cta-color: #D74012;
$base-cta-green-color: green;
$base-gray-background: #EBEBEB;
$light-gray-background: #ECECEC;
$super-light-gray-background:#F5F6F8;
$gray-background: rgba(225,225,225,0.4);
$base-font-family: 'Montserrat', sans-serif;
$base-font-family-semi-bold: 'Montserrat SemiBold', sans-serif;
$font-gt-super-display-bold: 'GT Super Display';
$smaller-containers-offset: 0 3.84em 2.083em;
$smaller-containers-offset-tablet: 0 0 2.083em;
$transition-container-offset: 1.95em 3.84em 1.95em;
$transition-container-offset-tablet: 1.95em 0 1.95em;
$marquee-promo-p-color: #171616;

$font-xxxs: 0.500em;
$font-xxs: 0.625em;
$font-xs: 0.750em;
$font-s: 0.875em;
$font-m: 1em;
$font-l: 1.125em;
$font-xl: 1.25em;
$font-xxl: 1.375em;
$font-xxxl: 1.5em;
$font-xxxxl: 1.625em;
$font-xxxxxl: 1.75em;