@mixin rectangular-base-cta {
    background: $base-cta-color;
    color: #fff;
    border-radius: 4px;
    padding: 11px 25px;
    font-family: $base-font-family;
    font-size: $cta-font-size;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 0.4615em;
    text-align: center;
}

@mixin rectangular-base-cta-green {
    background: $base-cta-green-color;
    color: #fff;
    border-radius: 4px;
    padding: 11px 25px;
    font-family: $base-font-family;
    font-size: $cta-font-size;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 0.4615em;
    text-align: center;
}

@mixin flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}